.formula-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__katex {
    width: 100%;
    font-size: 0.8em;
    cursor: pointer;
    margin: 3% 0;
    text-align: center;

    .katex-display {
      max-height: 100px;
      overflow: auto;
      margin: 0;

      .katex {
        display: inline-block;

        .katex-html {
          display: inline-block;
        }
      }
    }
  }

  &__input {
    width: 100%;
    height: 70px;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}