.popup {
  $maximum-height: 600px;
  $main-height: 270px;
  $padding: 18px;

  width: 600px;
  font-size: 24px;
  padding: $padding;
  
  &__main {
    height: $main-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }

  .history__list {
    $margin-top: 20px;
    margin-top: $margin-top;
    max-height: $maximum-height - $main-height - $padding * 2 - $margin-top;
    overflow-y: overlay;
  }
}